<!--<p>
  Test works! {{ prop1 }}  <!-- interpollation 

  <button (click)="getVal(5)">Test</button>    
  event biding 
   
  <input [value]="prop1">  <!--property binding  
  
  lezemeha tekoun properiré fil ts  
  <input value="{{prop1}}">

</p> 
<input [ngStyle]="{'background-color':price < 20 ? 'orange' : 'red','font-size': price < 20 ? '20px' : '50px' }">
<input [ngStyle]="{'background-color': getColor() }">

<button [ngClass]="'style1'">azaza</button> 
<!-- bech ya3rafeha chaine de caractere nezidou ' ' sinon ye7sebha metebe3a ts 

<button [ngClass]=getClass()>rrerere</button> 


-->




